Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  misc-*,
  readability-*,
  portability-*,
  llvm-header-guard,

  -cppcoreguidelines-*,
  -hicpp-*,
  -modernize-*,
  -cert-*-cpp,
  -performance-no-int-to-ptr,
  -bugprone-easily-swappable-parameters,
WarningsAsErrors: ''
HeaderFilterRegex: "(.*(Core|Drivers).*|.*startup_.*\\.s)"