BreakBeforeBraces: Linux

# General Style & Layout -------------------------------------------------------------- #
# Inherit a base style (like LLVM, Google, WebKit, etc.)
BasedOnStyle: Microsoft

# The number of spaces used for a single level of indentation
IndentWidth: 4
UseTab: ForIndentation

# Indent the "case" labels relative to the "switch" statement
IndentCaseLabels: true

# The indentation width used for wrapped lines (e.g., arguments split across multiple lines).
ContinuationIndentWidth: 4